// Container
$containerWidth: 650px;

// Colors
$white: #fff;
$gray: #bcbcbc;
$black: #080808;

$blockColor: #151515;

$btnColor: #0871c7;
$btnColorDark: #0c5ea1;

$deleteBtn: #cc2c2c;

$backgroundColor: #101010;